apiVersion: apps/v1
kind: Deployment
metadata:
  name: email-service
  namespace: email-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: email-service
  template:
    metadata:
      labels:
        app: email-service
    spec:
      serviceAccountName: ses-sender-sa
      containers:
        - name: email-service
          image: 792248914698.dkr.ecr.ap-northeast-1.amazonaws.com/ses-service:latest
          ports:
            - containerPort: 3000
          env:
            - name: AWS_REGION
              value: "ap-northeast-1"
